
body {
    background-color: rgb(201, 196, 188);
  }
  h1 {
    color: black;
  }
  p {
    color: black;
  }
  .container {
    margin:0 auto; /* this will center the page */
    width:960px; /*  use your width here */
 }

 #map { 
  height: 400px; 
  width: 90%;
  border: 1px solid black;
  background-color:lightgray;
  }
