p {
  color: red;
  width: 500px;
  border: 1px solid black;
}

p,
li,
h1 {
  color: red;
}

@font-face {
  font-family: 'FAMILY_NAME';
  font-style: NORMAL_OR_ITALIC;
  font-weight: NUMERIC_WEIGHT_VALUE;
  font-display: swap;
  src: url(FONT_FILE_NAME.woff2) format('woff2');
}